<h2>Debts</h2>
<ul>
<%= render :partial => 'event/event' , :collection => @debts %>
</ul>

<h2>Spents</h2>
<ul>
<%= render :partial => 'event/event' , :collection => @spents %>
</ul>

<h2>Settlements</h2>
<ul>
<%= render :partial => 'event/event' , :collection => @settlements %>
</ul>


