<% if(@debts != nil && @debts.length > 0)  %>
<h2>Debts</h2>
<ul>
<%= render :partial => 'event/event' , :collection => @debts %>
</ul>
<% end  %>


<% if(@spents != nil && @spents.length > 0)  %>
<h2>Spents</h2>
<ul>
<%= render :partial => 'event/event' , :collection => @spents %>
</ul>
<% end %>

<% if(@settlements != nil && @settlements.length > 0)  %>
<h2>Settlements</h2>
<ul>
<%= render :partial => 'event/event' , :collection => @settlements %>
</ul>
<% end %>

